body {background-color:#F8FAFC;
    color:#334155
}
main {
    padding-top: 100px;
}
header {
    width: 100vw;
}
.section {
    padding: 40px 0px;
}

/*ProjectHero*/
#projecthero {
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px 0px 40px 0px;
}
#projecthero div {
    height: 100%;
    display: flex;
    justify-content: center;
}
#projecthero h1 {
    position:absolute;
    z-index: 1;
    top: 20px;
}
.boulevardlogo {
    position:absolute;
    z-index: 1;
    top:100px;
    width: 80%;
}
.clip {
    position:absolute;
    width: 100vw;
    clip-path: inset(0);
}
#projecthero picture img {
    height: 100%;
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%)
}

/*About Project*/

.projectdetails {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
.singledetail {
    width: 45%;
}
#aboutproject picture img {
    display: none;
}

/*Interviews*/

svg {
    width: 40px;
    height: 40px;
}
.interviewoutputs {
    display: flex;
    gap: 40px;
    flex-direction: column;
}