body {background-color:#F8FAFC;
    color:#334155
}
main {
    padding-top: 100px;
}
.section {
    padding: 40px 0px;
}
.infoitem {
    display: flex;
    align-items: center;
    gap: 16px;
}
.scrollcontainer {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

/*ProjectHero*/
#projecthero {
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px 0px 40px 0px;
}
#projecthero div {
    height: 100%;
    display: flex;
    justify-content: center;
}
#projecthero h1 {
    position:absolute;
    z-index: 1;
    top: 56px;
}
.boulevardlogo {
    position:absolute;
    z-index: 1;
    top:120px;
    width: 80%;
}
.clip {
    position:absolute;
    width: 100vw;
    clip-path: inset(0);
    overflow: hidden;
}
#projecthero picture img {
    height: 100%;
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%)
}

/*About Project*/

.projectdetails {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
.singledetail {
    width: 45%;
}
#aboutproject picture img {
    display: none;
}

/*Interviews*/

svg {
    width: 40px;
    height: 40px;
}
.interviewoutputs {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

/*Persona*/
#persona picture img {
    border-radius: 5%;
    width: 250%;
}

/*Sitemap*/
#sitemap img {
    width:300%
}

/*Wireframes*/
.wireframeexplained {
    width: 150%;
}
.purchasingflow picture img {
    width: 70%;
}

/*High-fidelity*/
#highfidelityhero picture img {
    display:none;
}
#highfidelity .scrollcontainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.wirehifi {
    display: flex;
    flex-direction: column;
}
.wirehifi picture img {
    width: 200px;
}
.hififlow {
    width: 70%;
    border-radius: 15px;
}