* {
    box-sizing: border-box;
  }
body {background-color:#F8FAFC;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#334155;
}
header {
    background-color: #fefefe;
    padding: 10px 0px;
    border-bottom: 1px solid #4a4a4a;
}

img {
    width: 100%;
  }


footer {background-color:#334155;
    color:#fefefe
}

/*Typography*/

h1, h2, h3, h4, h5, h6, p {line-height:1.5}
h1 {
    font-size: 2.75em;
    font-weight: 900;
}
.introductory {
    font-size: 2em;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1;
}
#projecthero h1 {
    font-size:20px;
    font-weight: 600;
    color: #fefefe;
    text-transform: uppercase;
}
.light {
    color:#fefefe;
}
h2 {
    font-size: 2.25em;
    font-weight: 900;
}
h3 {
    font-size: 1.75em;
    font-weight: 600;
}
.byline {
    font-size:20px;
    font-weight: 600;
    color: #334155;
    text-transform: uppercase;
}
p {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
p.caption {
    font-size: 0.75em;
}
.small {
    font-size: 0.875em
}

/*spans*/

.introductory::before{
    content: "\a";
    white-space: pre;
  }
.newline::before{
    content: "\a";
    white-space: pre;
  }


/*Links and Buttons*/

footer a {
    color: #8fb7d8;
    text-decoration: none;
}
footer a:visited {
    color: #c573eb;
}
footer a:hover {
    color: #fefefe;
    text-decoration: underline;
}
footer a:focus{
        color: #cc6540;
        text-decoration: underline;
}
footer a:active {
    color: #63ae5e;
}
.button{
    text-decoration: none;
    font-size:18px;
    font-weight:600;
    padding: 10px 40px;
    border-radius: 40px;
    display:inline-block;
    background-color: #334155;
    color: #fefefe;
}
.button:visited{
    background-color: #31163a;
    color:#fefefe;
    text-decoration: none;
}
.button:hover {
    background-color: #111111;
    text-decoration: none;
}
.button:focus {
    background-color: lightskyblue;
    color:#334155;
    text-decoration: none;
}
.button:active {
    background-color: #0a3bad;
    text-decoration: none;
}
.secondary-button {
    background-color: #dbe0e7;
    color: #334155;
}
.secondary-button:visited{
    background-color: #fefefe;
    color:#31163a;
}
.secondary-button:hover {
    background-color: #fefefe;
    color: #334155;
}
.secondary-button:focus {
    background-color: #334155;
    color:#dbe0e7;
}
.secondary-button:active {
    background-color: lightskyblue;
    color: #334155
}