body {background-color:#F8FAFC;
    font-family: 'Poppins', sans-serif;
    size: 16px;
    color:#334155;
}
h1, h2, h3, h4, h5, h6, p {line-height:1.5}
h1 {
    font-size: 2.75em;
    font-weight: 900;
}
.introductoryh1 {
    font-size: 0.5em;
    font-weight: 600;
    opacity: 0.7;
    line-height: 1;
}
h2 {
    font-size: 2.25em;
    font-weight: 900;
}
h3 {
    font-size: 1.75em;
    font-weight: 600
}
p {
    font-weight: 400;
}
img {
    width: 100%;
  }
.introductoryh1::before{
    content: "\a";
    white-space: pre;
  }
.alink {
    color: #0e6dbb;
    text-decoration: none; /* No underlining */
}
.alink:hover {
    color: #9b3e1c;
    text-decoration: underline; /* Underlining when hovering over a link */
}
.alink:visited { /* visited link */
    color: #7e05b6;
}
.alink:active { /* selected link */
    color: #0d5707;
}
.primary-button, .secondary-button{
    text-decoration: none;
    font-size:18px;
    font-weight:600;
    padding: 10px 40px;
    border-radius: 40px;
}
.primary-button {
    background-color: #334155;
    color:#fefefe;
}
.primary-button:hover {
    background-color: #111111;
}
.primary-button:active {
    background-color: #0a3bad;
}
.primary-button:focus {
    background-color: lightskyblue;
    color:#334155;
}
.secondary-button {
    background-color: #dbe0e7;
    color: #334155;
}
.secondary-button:hover {
    background-color: #fefefe;
}
.secondary-button:active {
    background-color: lightskyblue;
}
.secondary-button:focus {
    background-color: #334155;
    color:#dbe0e7;
}